<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    
    <!--The Lidrgren app identifier-->
    <add key="AppIdentifier" value="xwa_multiplayer_connector v0.1"/>
    <!--The Lidgren Server Port number-->
    <add key="Port" value="25500"/>
    <!--The Lidgren Server maximum number of connections-->
    <add key="MaxConnections" value="100"/>
    
    <!--The path to the skirmish folder from the XWA exe folder-->
    <add key="SkirmishFolderSubPath" value="\SKIRMISH\"/>
    
    <!--How much to display on the log. Low, Medium, High, Everything-->
    <add key="LogLevelVisible" value="High"/>
    
  </appSettings>
</configuration>